<footer class="relative z-10 -mt-16 bg-whithish overflow-hidden rounded-tl-3xl rounded-tr-3xl" role="contentinfo">

    <div class=" mx-auto w-11/12 ">

        <div
            class="lg py-16 xl:py-24 grid grid-cols-1 gap-10 sm:grid-cols-[1fr_auto_auto] xl:grid-cols-[1fr_auto_auto_1fr] xl:gap-20">

            <div class="flex flex-col gap-y-6">
                <a class="inline-block" href="/"><!--logo--></a>
                <p>
                    We specialize in process automation and design implementation to supercharge your small business.
                    Unlock top-tier solutions at unbeatable prices and skyrocket your productivity today!
                </p>
                <p>
                    XX XX
                </p>
            </div>

            <div class="flex flex-col gap-y-6">

                <h4 class="text-[21px] font-semibold capitalize text-black">
                    Infos
                </h4>

                <ul class="flex flex-col gap-y-2 capitalize">
                    <li>
                        <a class="transition-all duration-300 ease-linear hover:text-orange" href="/">Home</a>
                    </li>
                    <li>
                        <a class="transition-all duration-300 ease-linear hover:text-orange" href="/about">About
                            Us</a>
                    </li>
                    <li>
                        <a class="transition-all duration-300 ease-linear hover:text-orange"
                            href="/services">Services</a>
                    </li>
                    <li>
                        <a class="transition-all duration-300 ease-linear hover:text-orange" href="/pricing">pricing</a>
                    </li>
                    <li>
                        <a class="transition-all duration-300 ease-linear hover:text-orange" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="flex flex-col gap-y-6">

                <h4 class="text-lg font-semibold capitalize text-black">
                    Contact
                </h4>

                <ul class="flex flex-col gap-y-[10px] capitalize">
                    <li>
                        <a class="transition-all duration-300 ease-linear hover:text-orange" href="/signup">Signup</a>
                    </li>
                    <li>
                        <a class="transition-all duration-300 ease-linear hover:text-orange" href="/login">Login</a>
                    </li>
                    <li>
                        <a class="transition-all duration-300 ease-linear hover:text-orange" href="/error-404">404 Not
                            found</a>
                    </li>
                    <li>
                        <a class="transition-all duration-300 ease-linear hover:text-orange"
                            href="/reset-password">Password
                            Reset</a>
                    </li>
                </ul>
            </div>

            <div class="flex flex-col gap-y-6">
                <h4 class="text-[21px] font-semibold capitalize text-black">
                    Subscribe to our newsletter
                </h4>
                <!-- Form -->
                <form action="#" method="post" class="">
                    <div class="relative h-12 md:max-w-80">
                        <input type="email" name="newsletter-email" id="newsletter-email" placeholder="Enter your email"
                            class="py-4 h-full w-full rounded-3xl border border-black px-6 pr-20 outline-none" required>
                        <button type="submit"
                            class="transition-all duration-300 ease-linear text-white absolute right-1.5 inline-block h-10 top-[50%] -translate-y-[50%] px-6 rounded-3xl bg-blue hover:bg-orange">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="py-8 text-center border-t border-black border-solid border-opacity-20">
            <p class="text-sm"> © Copyright {{ build.timestamp | dateToFormat('yyyy') }}. Kaiseki.co is a registered trademark. All Rights Reserved. </p>
        </div>
    </div>
</footer>