<header class="site-header absolute w-full h-16 text-black" role="banner">
    <nav id="menu" role="navigation" tabindex="-1" class="px-4 md:px-0 h-full mx-auto flex justify-between items-center">
            <!-- Logo Here -->
            <a class=" font-bold italic" href="/">logo</a>
            {% include "navigation.njk" %}

                <!-- This is used to open the menu on mobile devices -->
    <div class="flex items-center md:hidden">
        <button class="text-black text-4xl font-bold opacity-70 hover:opacity-100 duration-300" onclick="toggleMenu()">
            &#9776;
        </button>
    </div>
    </nav>


</header>

<script>
    var menu = document.getElementById('menu');
    function toggleMenu() {
        menu.classList.toggle('hidden');
        menu.classList.toggle('w-full');
        menu.classList.toggle('h-screen');
    }
</script>