<header class="site-header" role="banner">
    <div class="">
        <div class="">
            <p><strong>Logo</strong></p>
        </div>
        <div class="navigation">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
