{# Nav Links #}
<ul class="hidden fixed top-0 right-0 px-10 py-16 z-50
                md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6 items-center align-middle" id="menu">
	<li class="md:hidden z-90 fixed top-4 right-6">
		<a href="javascript:void(0)" class="text-right text-black" onclick="toggleMenu()">top</a>
	</li>
	{%- for item in collections.pages | eleventyNavigation -%}
	{%- if item.url -%}
	{%- set isCurrent = (item.url == page.url) -%}
	{%- set isParent = item.url != '/' and item.url in page.url -%}
	<li class="font-bold {% if isCurrent or isParent %}{% endif %}">
		<a class="hover:underline hover:underline-offset-3 hover:decoration-8 hover:decoration-blue hover:text-blue text-right text-black transition-all duration-300 linear" href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}"
			{% if isCurrent %} aria-current="page" {% endif %}>
			{{ item.title }}
		</a>
	</li>
	<button class="transition-all duration-300 ease-linear text-white inline-block h-10 px-6 rounded-3xl bg-blue hover:bg-orange" x-on:click="isModalOpen = true">Contact Us</button>
	{%- endif -%}
	{%- endfor -%}
</ul>