<section id="hero" class="transition-all duration-300 ease-linear bg-whithish rounded-bl-3xl rounded-br-3xl">
	<div class="relative overflow-hidden pt-28 lg:pt-32 xl:pt-40 xxl:pt-80">
		<div class="mb-14 flex flex-col items-center text-center lg:mb-20">
			<h1 class="mb-6 font-bold max-w-xl lg:max-w-2xl xl:max-w-3xl ">
				Transform your <span
					class="underline underline-offset-3 decoration-8 decoration-blue dark:decoration-blue">business</span>
				with Kaiseki.co!
			</h1>
			<p class="mb-11 max-w-xl text-lg sm:text-xl xl:max-w-3xl px-4">
				We’re here to help your small business thrive with <span
					class="px-2 text-white bg-blue rounded dark:bg-blue">smart process</span> <span
					class="px-2 text-white bg-blue rounded dark:bg-blue">automation</span> and <span
					class="px-2 text-white bg-blue rounded dark:bg-blue">beautiful design</span>.
				Get top-notch solutions at prices you’ll love, and watch your productivity soar!
			</p>
			<div class="flex flex-wrap justify-center gap-6 ">
				<a x-on:click="isModalOpen = true" href="#"
					class="py-4 px-8 font-bold rounded-full border-2 transition-all duration-300 ease-linear border-blue bg-blue text-white after:bg-orange hover:border-orange hover:text-white hover:bg-orange">
					Contact us now</a>
				<a href="#"
					class="py-4 px-8 rounded-full border-2 transition-all duration-300 ease-linear border-black bg-transparent text-black after:bg-orange hover:border-orange hover:text-white hover:bg-orange">
					Learn more</a>
			</div>
		</div>
		{# <div class="overflow-hidden rounded-2xl bg-black ">

		</div> #}

		<div class="mx-auto mb-12 text-center lg:mb-16 border-t border-black border-solid border-opacity-20">
			<p class="text-lg px-4 py-10">
				Companies of all sizes trust us to find to
				their growth and innovation
			</p>
			<div class="flex whitespace-no-wrap overflow-x-hidden">
				<div class="flex">
					<ul class="flex animate-marquee">
						<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
							alt="content-image-automation", classes="h-auto"%}</li>
						<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
							alt="content-image-automation", classes="h-auto"%}</li>
						<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
							alt="content-image-automation", classes="h-auto"%}</li>
						<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
							alt="content-image-automation", classes="h-auto"%}</li>
						<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
							alt="content-image-automation", classes="h-auto"%}</li>
						<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
							alt="content-image-automation", classes="h-auto"%}</li>
						<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
							alt="content-image-automation", classes="h-auto"%}</li>
					</ul>
					<ul class="flex absolute animate-marquee2">
									<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
										alt="content-image-automation", classes="h-auto"%}</li>
									<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
										alt="content-image-automation", classes="h-auto"%}</li>
									<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
										alt="content-image-automation", classes="h-auto"%}</li>
									<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
										alt="content-image-automation", classes="h-auto"%}</li>
									<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
										alt="content-image-automation", classes="h-auto"%}</li>
									<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
										alt="content-image-automation", classes="h-auto"%}</li>
									<li class="text-sm whitespace-no-wrap">{% generateImage src="./src/assets/images/logo/moncler.png",
										alt="content-image-automation", classes="h-auto"%}</li>
					</ul>
				</div>
			</div>
		</div>
</section>