<section id="" class="px-4">
    <!-- Section Spacer -->
    <div class="pb-20 xl:pb-[150px]">
        <!-- Section Container -->
        <div class="global-container">
            <div class="grid grid-cols-1 items-center gap-12 md:grid-cols-2 lg:gap-20 xl:gap-28 xxl:gap-32">
                <!-- Content Left Block -->
                <div class="order-2 overflow-hidden rounded-md md:order-1">
                    <img src="assets/img/th-1/content-image-1.jpg" alt="content-image-1" width="526" height="450"
                        class="h-auto w-full">
                </div>
                <!-- Content Left Block -->
                <!-- Content Right Block -->
                <div class="order-1 md:order-2">
                    <!-- Section Content Block -->
                    <div class="mb-6">
                        <h2>{{left.title}}</h2>
                    </div>
                    <!-- Section Content Block -->
                    <div class="text-lg leading-[1.4] lg:text-[21px]">
                        <p class="mb-2">
                            {{left.content}}
                        </p>
                        <ul
                        class="flex flex-col gap-y-2 list-disc ml-10 leading-tight tracking-tighter text-black lg:mt-8 lg:text-2xl">
                        <li class="">
                            {{left.point1}}
                        </li>
                        <li class="">
                            {{left.point2}}
                        </li>
                        <li class="">
                            {{left.point3}}
                        </li>
                    </ul>
                    </div>
                    <!-- Content Right Block -->
                </div>
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Spacer -->
</section>