<section id="" class="px-4">
    <!-- Section Spacer -->
    <div class="pb-20 xl:pb-[150px]">
        <!-- Section Container -->
        <div class="global-container">
            <div
                class="grid grid-cols-1 items-center gap-12 md:grid-cols-2 lg:gap-20 xl:grid-cols-[minmax(0,_1.2fr)_1fr] xl:gap-28 xxl:gap-32">
                <!-- Content Left Block -->
                <div class="order-2 overflow-hidden rounded-md jos" data-jos_animation="fade-left" data-jos_once="1"
                    data-jos_counter="1" data-jos_scrolldirection="down">
                    <img src="assets/img/th-1/content-image-2.jpg" alt="content-image-2" width="526" height="450"
                        class="h-auto w-full">
                </div>
                <!-- Content Left Block -->
                <!-- Content Right Block -->
                <div class="order-1 jos" data-jos_animation="fade-right" data-jos_once="1" data-jos_counter="1"
                    data-jos_scrolldirection="down">
                    <!-- Section Content Block -->
                    <div class="mb-6">
                        <h2>{{right.title}}</h2>
                    </div>
                    <!-- Section Content Block -->
                    <div class="text-lg leading-tight">
                        <p class="mb-2">
                            {{right.content}}
                        </p>
                        <ul
                            class="flex flex-col gap-y-2 list-disc ml-10 leading-tight tracking-tighter text-black lg:mt-8 lg:text-2xl">
                            <li class="">
                                {{right.point1}}
                            </li>
                            <li class="">
                                {{right.point2}}
                            </li>
                            <li class="">
                                {{right.point3}}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Content Right Block -->
            </div>
        </div>
        <!-- Section Container -->
    </div>
    <!-- Section Spacer -->
</section>