{% import "./abutton.njk" as button %}

<section id="service" class="px-4">

	<div class="pb-20 pt-20 xl:pb-40 xl:pt-32">

		<div class="">
			<div class="mb-10 lg:mb-16 xl:mb-20">
				<div class="md:max-w-lg lg:max-w-2xl xl:max-w-3xl">
					<h2 class="">How We Help Small Businesses Succeed</h2>
				</div>
			</div>

			<ul
				class="grid grid-cols-1 gap-1 overflow-hidden rounded-xl border-2 border-black bg-black sm:grid-cols-2 lg:grid-cols-4 ">

				<li class="group bg-white p-8 transition-all duration-300 ease-in-out hover:bg-black">
					<div class="relative mb-6 h-20 w-20 group-hover:text-white ">
						<svg width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"
							class="h-full w-full">
							<rect width="512" height="512" x="0" y="0" rx="256" fill="transparent" stroke="transparent"
								stroke-width="0" stroke-opacity="100%" paint-order="stroke"></rect><svg width="512px" height="512px"
								viewBox="0 0 16 16" fill="currentColor" x="0" y="0" role="img"
								style="display:inline-block;vertical-align:middle" xmlns="http://www.w3.org/2000/svg">
								<g fill="currentColor">
									<path fill="currentColor"
										d="M11.691 1.038A.5.5 0 0 1 12 1.5V4h2.5a.5.5 0 0 1 .354.854l-2 2A.5.5 0 0 1 12.5 7H9.707l-.74.741A1.001 1.001 0 0 1 8 9a1 1 0 0 1-1-1l.001-.046a1 1 0 0 1 1.258-.92L9 6.293V3.5a.5.5 0 0 1 .146-.354l2-2a.5.5 0 0 1 .545-.108ZM12.293 6l1-1H11.5a.5.5 0 0 1-.5-.5V2.707l-1 1V6h2.293Zm1.652 1.176a6 6 0 1 1-5.122-5.12l-.383.383a1.5 1.5 0 0 0-.354.562L8 3a5 5 0 1 0 5 4.914a1.5 1.5 0 0 0 .56-.353l.384-.385ZM8 4.5A3.5 3.5 0 1 0 11.5 8h-1A2.5 2.5 0 1 1 8 5.5v-1Z" />
								</g>
							</svg>
						</svg>
					</div>
					<h3 class="mb-4 block text-xl leading-tight tracking-tighter group-hover:text-white xl:text-2xl xxl:text-4xl">
						Operational Excellence
					</h3>

					<p class="mb-12 duration-300 group-hover:text-white">
						We focus on the operational side of your business, ensuring that your processes are as efficient
						and effective as possible. From automating routine tasks to implementing sophisticated design
						solutions, we help you save time, reduce costs, and boost productivity.
					</p>

					{# {{ button.data( 'Automate', url = '/automate', type='secondary', class='group-hover:text-white
					group-hover:border-white' ) }} #}
				</li>

				<li class="group bg-white p-8 transition-all duration-300 ease-in-out hover:bg-black">
					<div class="relative mb-6 h-20 w-20 group-hover:text-white ">
						<svg width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"
							class="h-full w-full">
							<rect width="512" height="512" x="0" y="0" rx="256" fill="transparent" stroke="transparent"
								stroke-width="0" stroke-opacity="100%" paint-order="stroke"></rect><svg width="512px" height="512px"
								viewBox="0 0 24 24" fill="currentColor" x="0" y="0" role="img"
								style="display:inline-block;vertical-align:middle" xmlns="http://www.w3.org/2000/svg">
								<g fill="currentColor">
									<path fill="currentColor"
										d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm10 0h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM10 13H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zm8 1h-2v2h-2v2h2v2h2v-2h2v-2h-2z" />
								</g>
							</svg>
						</svg>

					</div>

					<h3
						class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-4xl">
						Tailored Solutions
					</h3>

					<p class="mb-12 duration-300 group-hover:text-white">
						Every business is unique, and so are its needs. We provide customized solutions that fit your
						specific requirements, ensuring that you get the most value from our services.<br><br><br>
					</p>

					{# {{ button.data( 'Contact us', url = '/contact', type='secondary', class='group-hover:text-white
					group-hover:border-white' ) }} #}
				</li>

				<li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
					<div class="relative mb-6 h-20 w-20 group-hover:text-white ">
						<svg width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"
							class="h-full w-full">
							<rect width="512" height="512" x="0" y="0" rx="256" fill="transparent" stroke="transparent"
								stroke-width="0" stroke-opacity="100%" paint-order="stroke"></rect><svg width="512px" height="512px"
								viewBox="0 0 24 24" fill="currentColor" x="0" y="0" role="img"
								style="display:inline-block;vertical-align:middle" xmlns="http://www.w3.org/2000/svg">
								<g fill="currentColor">
									<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
										<path
											d="M15.39 15.39c.585-.587.664-1.457.176-1.946c-.488-.488-1.359-.409-1.945.177c-.585.586-1.456.665-1.944.177c-.488-.488-.409-1.359.177-1.944m3.535 3.535l.354.354m-.354-.354c-.4.401-.935.565-1.389.471m-2.5-4.36l.354.354m0 0c.331-.332.753-.5 1.146-.497m-4.393-.478a2 2 0 1 0-2-2" />
										<path
											d="M16.137 4.728c-1.546-1.545-2.318-2.318-3.321-2.605c-1.003-.288-2.068-.042-4.197.45l-1.228.283c-1.792.413-2.688.62-3.302 1.233c-.613.614-.82 1.51-1.233 3.302l-.284 1.228c-.491 2.13-.737 3.194-.45 4.197c.288 1.003 1.061 1.775 2.606 3.32l1.83 1.83C9.248 20.657 10.592 22 12.262 22c1.671 0 3.015-1.345 5.704-4.034C20.657 15.277 22 13.933 22 12.262c0-1.342-.868-2.474-2.604-4.262" />
									</g>
								</g>
							</svg>
						</svg>
					</div>
					<h3
						class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-4xl">
						Competitive Pricing
					</h3>

					<p class="mb-12 duration-300 group-hover:text-white">
						High-quality consulting shouldn't break the bank. We offer competitive pricing packages that
						make top-tier consulting services accessible to small businesses.
					</p>

					{# {{ button.data( 'Our Products', url = '/products', type='secondary', class='group-hover:text-white
					group-hover:border-white' ) }} #}
				</li>

				<li class="group bg-white p-8 transition-all duration-300 ease-in-out hover:bg-black">
					<div class="relative mb-6 h-20 w-20 group-hover:text-white ">
						<svg width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"
							class="h-full w-full">
							<rect width="512" height="512" x="0" y="0" rx="256" fill="transparent" stroke="transparent"
								stroke-width="0" stroke-opacity="100%" paint-order="stroke"></rect><svg width="512px" height="512px"
								viewBox="0 0 24 24" fill="currentColor" x="0" y="0" role="img"
								style="display:inline-block;vertical-align:middle" xmlns="http://www.w3.org/2000/svg">
								<g fill="currentColor">
									<path fill="currentColor" d="M3 3v17a1 1 0 0 0 1 1h17v-2H5V3H3z" />
									<path fill="currentColor"
										d="M15.293 14.707a.999.999 0 0 0 1.414 0l5-5l-1.414-1.414L16 12.586l-2.293-2.293a.999.999 0 0 0-1.414 0l-5 5l1.414 1.414L13 12.414l2.293 2.293z" />
								</g>
							</svg>
						</svg>
					</div>
					<h3
						class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-4xl">
						Proven Results
					</h3>

					<p class="mb-12 duration-300 group-hover:text-white">
						Our team of experts has a track record of delivering results. We combine industry knowledge with
						technical expertise to help your business achieve its goals.
					</p>

					{# {{ button.data( 'Our work', url = '/projects', type='secondary', class='group-hover:text-white
					group-hover:border-white' ) }} #}
				</li>

			</ul>

		</div>

	</div>

</section>